<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/script.js"></script>
    <script type="text/javascript" src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.3/gsap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/template-styles.css"> 
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap"rel="stylesheet">

    <title>Shan</title>
               
</head>

<body>
    <header>
        <nav>
            <img src="/static/images/company-logo.svg">
            <ul>
                <li><a href="#">Our Home</a></li>
                <li><a href="#">Membership Plans</a></li>
                <li><a href="#">Write Content</a></li>
                <li><a href="/login-page">Sign in</a></li>
                <li><button id="get-started">New to TechSpark</button></li>
            </ul>
        </nav>
    </header>
    <div>
        <section class="hero">
            <h2>Get Everything Tech at your fingertips</h2>
            <p>A space to read, write, and expand your knowledge</p>
            <button id="start-reading">Start reading</button>
        </section>
      </div>

      <section id="wrapper" class="skewed">
        <div class="layer bottom">
          <div class="content-wrap">
            <div class="content-body">
              <h1>Birdsview Solution</h1>
              <p>Looking for a simple, high-level solution without the technical hassle? Our bird’s-eye view approach provides clear, user-friendly solutions that work seamlessly. No complex setups—just straightforward, effective technology that gets the job done.</p>
            </div>
            <img src="/static/images/Untitled2.jpg" alt="">
          </div>
        </div>
    
        <div class="layer top">
            <div class="content-wrap">
              <div class="content-body">
                <h1>Advanced Tech Solution</h1>
                <p>Need more than just the basics? Get a powerful, efficient, and customized tech solution tailored to your needs. Whether it’s automation, AI integration, or performance optimization, we’ve got you covered. Stay ahead with cutting-edge technology—let’s build something great!</p>
              </div>
              <img src="/static/images/Untitled.jpg" alt="">
            </div>
          </div>
    
          <div class="handle"></div>

    
</body>
<html
