<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/template-styles.css"> 
    <title>Medium-Style Tech Blog</title>
               
</head>

<body>
    <header>
        <nav>
            <h1>Medium</h1>
            <ul>
                <li><a href="#">Our Story</a></li>
                <li><a href="#">Membership</a></li>
                <li><a href="#">Write</a></li>
                <li><a href="#">Sign in</a></li>
                <li><button id="get-started">Get started</button></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">
            <h2>Human stories & ideas</h2>
            <p>A place to read, write, and deepen your understanding</p>
            <button id="start-reading">Start reading</button>
        </section>
    </main>

    
</body>
<html
