<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="/static/js/login-page.js"></script>
    <link rel="stylesheet" href="/static/login-page.css">
</head>
<body>
    <div class="container">
        <a href="#" class="back">&larr; BACK</a>
        <div class="login-box">
            <div class="logo">&#x2726;</div>
            <h2>Log into ByteSpark</h2>
            <form>
                <h3>Login Anonymously</h3>
                <label>Alias Name</label>
                <input type="text" placeholder="John">
                <button type="submit" class="annon-login login-btn">Start Writing</button>
                <br>
                <br>
                <h3>Login With Credentials</h3>
                <label>Email Address</label>
                <input type="email" placeholder="name@example.com">
                <label>Password</label>
                <div class="password-wrapper">
                    <input type="password" id="password" placeholder="Password">
                    <span class="toggle-password" onclick="togglePassword()">&#128065;</span>
                </div>
                <button type="submit" class="login-btn" disabled>Log In</button>
            </form>
            <div class="separator">OR</div>
            <button class="social-btn google">Continue with Google</button>
            <button class="social-btn facebook">Continue with Facebook</button>
            <a href="#" class="cant-login">Can't log in?</a>
        </div>
        <a href="#" class="create-account">CREATE ACCOUNT</a>
    </div>
    
</body>
</html>