<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Submission</title>
    <link rel="stylesheet" href="/static/write-page.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div class="toolbar">
        <button onclick="formatText('bold')"><b>B</b></button>
        <button onclick="formatText('italic')"><i>I</i></button>
        <button onclick="addLink()">🔗</button>
        <button onclick="addImage()">🖼</button>
        <button onclick="addList('ul')">• List</button>
        <button onclick="addList('ol')">1. List</button>
    </div>
    
    <div class="editor">
        <h1 contenteditable="true" class="title">Title</h1>
        <h2 contenteditable="true" class="subtitle">Add a subtitle...</h2>
        <div contenteditable="true" class="content">Start writing...</div>
    </div>
    <button class='button' id="postContent">Post Content</button>
    <script src="/static/js/write-page.js"></script>
</body>
</html>
